<h1><%= t('events.need_pincode') %></h1>

<%= form_with(url: event_path, method: :post) do |form| %>
  <div class="mt-2">
    <%= form.label :pincode, t('pincode'), class: 'mb-1' %>
    <%= form.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions mt-3">
    <%= submit_tag t('buttons.save'), class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to t('buttons.to_root'), root_path %>
